<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Результаты</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
            <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Парсер HH.RU</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" href="/form/">Форма</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contacts/">Контакты</a></li>
                        <li class="nav-item"><a class="nav-link" href="/result/">Результат</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-lower">Результаты запроса</span>
            </h1>
        </header>
        <!-- Navigation-->
        <section class="page-section about-heading">
            <div class="container">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-5 col-lg-4 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h3 class="section-heading">Параметры</h3>
                                <ol class="list-group">
                                    <li class="list-group-item" >Вакансия: {{ res['vacancy'] }}</li>
                                    <li class="list-group-item">Условия: {{ res['where']}}</li>
                                    <li class="list-group-item">Ср. верхняя граница: {{ res['up'] }}руб.</li>
                                    <li class="list-group-item">Ср. нижняя граница: {{ res['down'] }}руб.</li>
                                </ol>
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Номер</th>
                                            <th scope="col">Название</th>
                                            <th scope="col">Процент упоминаний</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in res['requirements'] %}
                                            <tr>
                                                <th scope="row">{{ loop.index }} </th>
                                                <td>{{ item['name'].capitalize() }}</td>
                                                <td align="right">{{ item['percent'] }}%</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; my Website</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>